<script src="https://utteranc.es/client.js"
repo="stevenlio88/Portfolio"
issue-term="pathname"
label="comment"
theme="preferred-color-scheme"
crossorigin="anonymous"
async>
</script>

<!-- {{ if .Params.showComment | default (.Site.Params.article.showComment | default true) }}
    <div class="comment">
        <script src="https://utteranc.es/client.js"
        repo="stevenlio88/Portfolio"
        issue-term="pathname"
        label="comment"
        theme="preferred-color-scheme"
        crossorigin="anonymous"
        async>
        </script>
    </div>
{{ end }} -->