.center_scaled {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.resized-image img {
    width: 50%; /* Adjust the width as needed */
    max-width: 300px; /* Ensure the image doesn't get too large */
    height: auto; /* Maintain aspect ratio */
}